<!--
Define in dashboards/views.py file
context.update({
    'layout': KTTheme.setLayout('default.html', context),
})
-->
{% extends layout %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<!--begin::Row-->
<div class="row g-5 g-xxl-10">
    <!--begin::Col-->
    <div class="col-xl-5 col-xxl-4 mb-xl-5 mb-xxl-10">
        {% include 'partials/widgets/cards/_widget-4.html' %}
    </div>
    <!--end::Col-->
    <!--begin::Col-->
    <div class="col-xl-7 col-xxl-8 mb-5 mb-xxl-10">
        {% include 'partials/widgets/engage/_widget-2.html' %}
    </div>
    <!--end::Col-->
</div>
<!--end::Row-->

<!--begin::Row-->
<div class="row g-5 g-xxl-10">
    <!--begin::Col-->
    <div class="col-xl-4 mb-xl-5 mb-xxl-10">
        {% include 'partials/widgets/charts/_widget-9.html' %}
    </div>
    <!--end::Col-->
    <!--begin::Col-->
    <div class="col-xl-8 mb-5 mb-xxl-10">
        {% include 'partials/widgets/charts/_widget-1.html' %}
    </div>
    <!--end::Col-->
</div>
<!--end::Row-->

<!--begin::Row-->
<div class="row g-5 g-xxl-10">
    <!--begin::Col-->
    <div class="col-xl-4 mb-xl-5 mb-xxl-10">
        {% include 'partials/widgets/lists/_widget-3.html' %}
    </div>
    <!--end::Col-->
    <!--begin::Col-->
    <div class="col-xl-8 mb-5 mb-xxl-10">
        {% include 'partials/widgets/tables/_widget-3.html' %}
    </div>
    <!--end::Col-->
</div>
<!--end::Row-->

<!--begin::Row-->
<div class="row g-5 g-xxl-10">
    <!--begin::Col-->
    <div class="col-xl-4 mb-xl-5 mb-xxl-10">
        {% include 'partials/widgets/lists/_widget-13.html' %}
    </div>
    <!--end::Col-->
    <!--begin::Col-->
    <div class="col-xl-8 mb-5 mb-xxl-10">
        {% include 'partials/widgets/timeline/_widget-1.html' %}
    </div>
    <!--end::Col-->
</div>
<!--end::Row-->

<!--begin::Row-->
<div class="row g-5 g-xxl-10">
    <!--begin::Col-->
    <div class="col-xl-4 mb-xxl-10">
        {% include 'partials/widgets/charts/_widget-5.html' %}
    </div>
    <!--end::Col-->
    <!--begin::Col-->
    <div class="col-xl-4 mb-xxl-10">
        {% include 'partials/widgets/lists/_widget-14.html' %}
    </div>
    <!--end::Col-->
    <!--begin::Col-->
    <div class="col-xl-4 mb-xxl-10">
        {% include 'partials/widgets/lists/_widget-15.html' %}
    </div>
    <!--end::Col-->
</div>
<!--end::Row-->

{% endblock content %}