{% extends layout %}

{% block title %}Not Found{% endblock %}

{% block content %}

<!--begin::404 Page-->
<div class="d-flex flex-column flex-center flex-column-fluid p-10">
    <!--begin::Illustration-->
    <img src="{{ asset('media/illustrations/sketchy-1/18.png') }}" alt="" class="theme-light-show mw-100 mb-10 h-lg-450px"/>
    <img src="{{ asset('media/illustrations/sketchy-1/18-dark.png') }}" alt="" class="theme-dark-show mw-100 mb-10 h-lg-450px"/>
    <!--end::Illustration-->

    <!--begin::Message-->
    <h1 class="fw-semibold mb-10" style="color: #A3A3C7">Seems there is nothing here</h1>
    <!--end::Message-->

    <!--begin::Link-->
    <a href="/" class="btn btn-primary">Return Home</a>
    <!--end::Link-->
</div>
<!--end::404 Page-->

{% endblock content %}